{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ansiant Beatstore</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/newMain.css' %}" />
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.pagepiling.css' %}" />
        <link rel="stylesheet" href="sweetalert2.min.css">
        <script>
            window.onload = function () {
                document.body.classList.add('loaded_hiding');
                window.setTimeout(function () {
                    document.body.classList.add('loaded');
                    document.body.classList.remove('loaded_hiding');
                }, 500);
            }
        </script>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery.event.frame.js' %}"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/jquery.pagepiling.js' %}"></script>
        <div class="preloader">
            <div class="preloader__row">
                <div class="preloader__item"></div>
                <div class="preloader__item"></div>
            </div>
        </div>
        <div id="pagepiling">
            <header>
                <div class="limit-header">
                    <div class="left-header">
                        <div class="header-logo" onclick="window.location='{% url 'index' %}'">
                            <div class="header-logo-img">
                                <img src="{% static 'images/logo.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="right-header">
                        <div class="right-header-container">
                            <div class="menu-item">
                                <p class="scale" onclick="window.location='{% url 'beats_page' %}'">
                                    BEATS
                                </p>
                            </div>
                            <div class="menu-item">
                                <p class="scale">
                                    licenses
                                </p>
                            </div>
                            <div class="menu-item">
                                <p class="scale" onclick="window.location='{% url 'policy' %}'">
                                    Policy
                                </p>
                           </div>
                            <div class="menu-item">
                                <p class="scale" onclick="window.location='https://taplink.cc/ansiantbeats'">
                                    socials
                                </p>
                            </div>

                            <div class="between-container">

                            </div>

                            <div class="login-container">
                                {% if request.user.is_authenticated %}
                                    <p class="scale" onclick="window.location='{% url 'profile' %}'">profile</p>
                                {% else %}
                                    <p class="scale" onclick="window.location='{% url 'login' %}'">login</p>
                                {% endif %}
                            </div>
                            <div class="right-header-cart">
                                <div class="header-cart-img">
                                    <img src="{% static '/images/purchase2.png' %}" alt="" onclick="window.location = '{% url 'shop_cart' %}'" style="cursor: pointer">
                                </div>
                                <div class="right-header-cart-text">
                                    <p>{{ amount }}$</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mobile-right-header">
                        <img src="{% static '/images/menu.png' %}" alt="" onclick="viewMenu()">
                    </div>
                </div>
            </header>
            <div class="open-menu" id="menu">
                <div class="open-menu-item" onclick="window.location='{% url 'beats_page' %}'">
                    <p>
                        Beats
                    </p>
                </div>
                <div class="open-menu-item">
                    <p>
                        Contact us
                    </p>
                </div>
                <div class="open-menu-item">
                    <p>
                        Licenses
                    </p>
                </div>
                <div class="open-menu-item">
                        <p onclick="window.location='{% url 'policy' %}'">
                            Policy
                        </p>
                </div>
                <div class="open-menu-item">
                    <p onclick="window.location='https://taplink.cc/ansiantbeats'">
                        Socials
                    </p>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="open-menu-item" onclick="window.location='{% url 'profile' %}'">
                        <p>
                            Profile
                        </p>
                    </div>
                {% else %}
                    <div class="open-menu-item" onclick="window.location='{% url 'login' %}'">
                        <p>
                            Login
                        </p>
                    </div>
                {% endif %}
            </div>
            <div class="section first">
<!--                <video class="video-background" autoplay loop muted>-->
<!--                    <source src="/static/animation.mp4" type="video/mp4">-->
<!--                </video>-->
                <div class="main-caption">
                    <div class="main-logo">
                        <div class="logo-img element-animation3">
                            <img src="{% static '/images/bezfona.png' %}" alt="">
                        </div>

                        <div class="between-logo-container element-animation">

                        </div>

                        <div class="logo-text element-animation2">
                            <div class="text-beatstore">
                                <p>
                                    beatstore
                                </p>
                            </div>
                            <div class="text-sound">
                                <p>
                                    your sound ♪
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="slide-bottom element-animation">
                        <p>FIND YOUR PERFECT BEAT</p>
                        <img src="{% static '/images/gif-bottom.gif' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="section second">
                <div class="section-release-container">
                    <div class="main-releases-container item">
                        <div class="release-title element-animation">
                            <p>
                                New releases
                            </p>
                        </div>
                        <div class="releases-container">
                            <div class="quote-release-container">
                                <p>
                                    Listen to the latest news <br> and choose what you <br> like!
                                </p>
                            </div>
                            <div class="release-container">
                                <div class="container-last-beats">
                                    <div id="wrapper"></div>
                                    {% for beat in last_beat %}
                                        <div class="last-beat-item">
                                            <div class="last-beat-item-img">
                                                <img src="{{ beat.cover }}" alt="">
                                            </div>
                                            <div class="title-last-beat-item">
                                                <p>
                                                    {{ beat.title }}
                                                </p>
                                            </div>
                                            <div class="about-last-beat-item">
                                                <p>
                                                    {{ beat.type }}
                                                    <br>
                                                    BPM: {{ beat.bpm }}
                                                    <br>
                                                    Tonal: {{ beat.tonal }}
                                                    <br>
                                                    Time: {{ beat.duration }}
                                                    <br>
                                                    <br>
                                                </p>
                                            </div>
                                            <div class="price-last-beat-item">
                                                <p>
                                                    {{ beat.price }}$
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <div class="button-to-playlist">
                                        <button click-item scale onclick="window.location = '{% url 'beats_page' %}'">
                                            To Beats
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="worth-buying-first-container item">
                    <div class="best-png-container element-animation3">
                        <img src="{% static '/images/bestpng.png' %}" alt="">
                    </div>
                    <div class="worth-buying-container element-animation">
                        <div class="worth-buying-filter"></div>
                        <div class="title-worth">
                            <p>why it's worth buying here?</p>
                        </div>

                        <div class="worth-items-container">
                            <div class="worth-item">
                                <div class="worth-item-title">
                                    <p>
                                        HIGH QUALITY
                                    </p>
                                </div>
                                <div class="worth-item-img">
                                    <img src="{% static '/images/garant.png' %}" alt="">
                                </div>
                                <div class="worth-item-desc">
                                    <p>
                                        Thanks to a lot of experience,<br> the beats have their own <br>chips and excellent
                                        sound
                                    </p>
                                </div>
                            </div>
                            <div class="worth-item">
                                <div class="worth-item-title">
                                    <p>
                                        TRUST
                                    </p>
                                </div>
                                <div class="worth-item-img">
                                    <img src="{% static 'images/trust.png' %}" alt="">
                                </div>
                                <div class="worth-item-desc">
                                    <p>
                                        You know what you are buying,<br> because you can listen to all <br>the bits before
                                        buying
                                    </p>
                                </div>
                            </div>
                            <div class="worth-item">
                                <div class="worth-item-title">
                                    <p>
                                        TRY BEFORE
                                    </p>
                                </div>
                                <div class="worth-item-img">
                                    <img src="{% static 'images/try.png' %}" alt="">
                                </div>
                                <div class="worth-item-desc">
                                    <p>
                                        The beats are available for <br> download even before purchase, <br>and you can try
                                        them out!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="section third">
                <div class="types-beats-container item">
                    <div class="types-beats-text-container element-animation3">
                        <div class="title-types-beats">
                            <p>Different <br> types of <br> beats</p>
                        </div>
                        <div class="desc-types-beats">
                            <p>FIND YOUR OWN</p>
                        </div>
                    </div>
                    <div class="types-beats-images-container element-animation2">
                        <div class="types-container">
                            <div class="trap">
                                <img src="{% static 'images/trap.png' %}" alt="" class="type-image">
                                <p>TRAP</p>
                            </div>
                            <div class="drill">
                                <img src="{% static 'images/drill.png' %}" alt="" class="type-image">
                                <p>DRILL</p>
                            </div>
                            <div class="oldschool">
                                <img src="{% static '/images/oldschool.png' %}" alt="" class="type-image">
                                <p>OLD SCHOOL</p>
                            </div>
                            <div class="liric">
                                <img src="{% static 'images/liric.png' %}" alt="" class="type-image">
                                <p>LIRIC</p>
                            </div>
                            <div class="rap">
                                <img src="{% static 'images/rap.png' %}" alt="" class="type-image">
                                <p>RAP</p>
                            </div>
                            <div class="club">
                                <img src="{% static 'images/club.png' %}" alt="" class="type-image">
                                <p>CLUB</p>
                            </div>
                            <div class="lo-fi">
                                <img src="{% static 'images/lo-fi.jpg' %}" alt="" class="type-image">
                                <p>LO-FI</p>
                            </div>
                            <div class="rb">
                                <img src="{% static 'images/r&b.jpg' %}" alt="" class="type-image">
                                <p>R&B</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="section thour">
                <a name="contact"></a>
                <div class="contact-container item">
                    <div class="contact-limit-container">
                        <div class="question-container">
                            <p>ANY QUESTIONS?</p>
                        </div>
                        <div class="contact-title-container">
                            <p>CONTACT US <img src="/images/email.png" alt=""> </p>

                        </div>
                        <div class="inputs-container">
                            <div class="input-item">
                                <p>NAME</p>
                                <input id="ticket_name" type="text">
                            </div>
                            <div class="input-item">
                                <p>EMAIL</p>
                                <input id="ticket_email" type="text">
                            </div>
                            <div class="input-item">
                                <p>SUBJECT</p>
                                <input id="ticket_subject" type="text">
                            </div>
                        </div>
                        <div class="desc-container">
                            <p>DESCRIPTION</p>
                            <textarea name="DESCRIPTION" id="ticket_description" cols="30" rows="10"></textarea>
                        </div>
                        <div class="button-submin-container">
                            <button class="ticket_submit">SUBMIT</button>
                        </div>
                        <script>
                            $('body').on('click', '.ticket_submit', function(event) {
                                event.preventDefault();

                                const fields = ['Name', 'Email', 'Subject', 'Description'];
                                let missingFields = [];

                                fields.forEach(function(field) {
                                    let value = document.getElementById('ticket_' + field.toLowerCase()).value;
                                    if (!value) {
                                        missingFields.push(field);
                                    }
                                });

                                if (missingFields.length > 0) {
                                    let fieldsText = missingFields.join(', ');
                                    Swal.fire({
                                          icon: 'error',
                                          title: 'Oops...',
                                          text: "Please fill in the following fields: " + fieldsText,
                                        })
                                    return;
                                }

                                $.ajax({
                                    url: '{% url 'ticket' %}',
                                    type: 'POST',
                                    dataType: 'json',
                                    data: {
                                        'name': document.getElementById('ticket_name').value,
                                        'email': document.getElementById('ticket_email').value,
                                        'subject': document.getElementById('ticket_subject').value,
                                        'description': document.getElementById('ticket_description').value
                                    },
                                    success: function() {
                                        Swal.fire(
                                          'Good job!',
                                          'Ticket created!',
                                          'success'
                                        )
                                        document.getElementById('ticket_name').value = ''
                                        document.getElementById('ticket_email').value = ''
                                        document.getElementById('ticket_subject').value = ''
                                        document.getElementById('ticket_description').value = ''
                                    },
                                    error: function(err) {
                                        Swal.fire({
                                          icon: 'error',
                                          title: 'Oops...',
                                          text: err,
                                        })
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $('#pagepiling').pagepiling({
                    menu: null,
                    direction: 'vertical',
                    verticalCentered: true,
                    sectionsColor: [],
                    anchors: [],
                    scrollingSpeed: 200,
                    easing: 'linear',
                    loopBottom: false,
                    loopTop: false,
                    css3: true,
                    navigation: {
                        'textColor': '#000',
                        'bulletsColor': '#a18f70',
                        'position': 'right',
                        'tooltips': ['Home', 'New releases', 'Why its worth buying here?', 'Types beats', 'Contact us']
                    },
                    normalScrollElements: null,
                    normalScrollElementTouchThreshold: 5,
                    touchSensitivity: 5,
                    keyboardScrolling: true,
                    sectionSelector: '.section',
                    animateAnchor: false,

                    //events
                    onLeave: function(index, nextIndex, direction){},
                    afterLoad: function(anchorLink, index){},
                    afterRender: function(){},
                });
            });
        </script>
        <script>
            function viewMenu() {
                let menu = document.getElementById("menu");
                if (getComputedStyle(menu).getPropertyValue("display") === 'none') {
                    menu.style.display = "block";
                    document.getElementsByTagName("header").style.background = "#242424";
                }
                else {
                    menu.style.display = "none";
                }
            }
        </script>
        <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    </body>
</html>