@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  width: 100%;
  background-color: #0a090c;
  position: absolute;
  scrollbar-width: thin; /* "auto" или "thin"  */
  scrollbar-color: blue orange; /* плашка скролла и дорожка */
  perspective: 1800px;
}

body::-webkit-scrollbar {
  width: 5px; /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0); /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(78, 78, 78); /* цвет плашки */
  border-radius: 10px; /* закругления плашки */
  border: 1px solid rgb(87, 86, 85); /* padding вокруг плашки */
}


#headerBackground {
  height: 100vh;
  background-image: url(images/lenghtBackground.png);
  background-size: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  display: flex;
  opacity: 1;
  position: relative;
}
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 71px;
  opacity: 0.8;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  cursor: default;
}

#videocontainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
  /* background-image: url(images/photo_2022-10-05_14-48-55.jpg);

  background-repeat: no-repeat;
  background-size: 100%; */
}

#videocontainer .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  padding: 10px;
}
#videocontainer video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  filter: brightness(70%);
  -webkit-filter: blur(7px);



}

.mainContainer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 100%;
  position: relative;
}

.header {
  height: fit-content;
  width: 100%;
  display: flex;
  padding-top: 10px;
  position: fixed;
  align-items: center;
}

.leftHeader {
  float: left;
  margin-left: 20px;
  display: flex;
}

.leftHeader span {
  font-size: 20px;
  margin-left: 10px;
}

.leftHeader img {
  object-fit: contain;
  width: 50px;
  filter: brightness(1.5);
}

.rightHeader {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
}

.rightHeaderItem {
  display: flex;
  flex-direction: column;
}

.click-item {
  cursor: pointer;
}

.rightHeaderItem span {
  align-self: flex-start;
  word-break: none;
  margin-left: 30px;
}



/* ----------------------------------- logo*/
.caption {
  width: 98%;
  height: 98%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all 0.1s ease;
}

.caption img {
  object-fit: contain;
  min-width: 200px;
  width: 70%;
  margin-bottom: 30px;
  cursor: auto;
}

.scale {
  transition: 0.4s; /* Время эффекта */
}

.scale:hover {
  transform: scale(1.1); /* Увеличиваем масштаб */
}

.logoFirstPageText {
  font-size: 300%;
  text-align: center;
  z-index: 1;
  background: linear-gradient(45deg, #8d6315 33%, #e1da8f 66%, #a79428);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}

.logoFirstPageSlogan {
  font-size: 200%;
  text-align: center;
  background: linear-gradient(45deg, #694c0f 33%, #e1da8f 66%, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}
/* ------------------------------ second page*/

.content-container {
  width: 100%;
  height: 100vh;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
}


/* ------------------------- */
#limiter-container {
  width: 75%;
  /* height: 100vh; */
  margin-left: auto;
  margin-right: auto;
}

.background-gr{
  width: 100%;
  background: linear-gradient(to bottom, #0a090c 0%, #030327a8 20%, #151419 71.04%, #030327a8 89.06%);
}

/* ------------------------- */

.title-last-beats{
  width: 100%;
  height: 100px;
  display: flex;
}

.title-last-beats p{
  margin-top: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  font-family: Freehand;
}

.container-last-beats{
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-left: #979797 solid 1px;
  border-right: #915809 solid 1px;
  border-top: #979797 solid 2px;
  border-bottom: #824c00 solid 4px;
  padding-top: 50px;
  padding-bottom: 150px;
  border-radius: 70px;
  -moz-box-shadow:0 0 10px #979797; 
  -webkit-box-shadow:0 0 10px #979797; 
  box-shadow: 0 0 100px #979797a3;
}

.element-animation {
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateY(100%);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateY(0%);
}

.last-beat-item{
  width: 200px;
  height: 300px;
  margin: auto;
  margin-left: 50px;
}

.last-beat-item-img{
  display: flex;
  width: 100%;
}

.last-beat-item-img img{
  display: flex;
  object-fit: contain;
  width: 150px;
  height: 150px;
  margin: auto;
  border: #979797 solid 3px;
  border-radius: 10px;
}

.title-last-beat-item {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.title-last-beat-item p{
  margin: auto;
  display: flex;
  color: white;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-last-beat-item {
  margin-top: 20px;
  display: flex;
  width: 100%;
}

.about-last-beat-item p{
  margin: auto;
  display: flex;
  color: rgb(173, 173, 173);
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.price-last-beat-item {
  margin-top: 0px;
  display: flex;
  width: 100%;
}

.price-last-beat-item p{
  margin: auto;
  display: flex;
  color: white;
  font-size: 30px;
  font-family: Freehand;
  font-weight: bold;
}

.button-to-playlist{
  width: 100%;
  margin-top: 150px;
  text-align: center;
}

.button-to-playlist button{
  width: 50%;
  height: 100px;
  background-color: #161616;

  border-radius: 20px;
  font-family: Freehand;
  font-size: 30px;
  cursor: pointer;
  outline: 1px solid;
  outline-color: #ffffff;
  outline-offset: 0px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.button-to-playlist button:hover {
  color: #b38f10;
  outline-color: #b38f10;
  border: #b3901000;
  outline-offset: 15px;
  background-color: #58585800;
}


@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}


.socials-container{
  margin-top: 150px;
  width: 100%;
  height: 200px;  
  background: linear-gradient(to bottom, rgba(24, 25, 68, 0)  0%, #0f0f38 20%, #0c0c2c 80%, rgba(24, 25, 68, 0) 100%);
  display: flex;
  border-top: #9e7213 solid 1px;
  border-bottom: #9e7213 solid 1px;
  border-radius: 0px;
  min-height: 200px;
  overflow: hidden;
  position: relative;
}



.parallax-image-container{
  position: absolute;
  object-fit: fill;
  width: 100%;
  margin-top: -15%;
}

.parallax-image{
  opacity: 0.1;
  
}

.parallax-image-container .simpleParallax img {
  width: 100%;
  text-align: center;
}

.left-block-social-container{
  width: 50%;
  display: flex;
  height: 100%;
  position: relative;
}

/* .left-block-social-container.element-show {
  opacity: 1;
  transition: opacity 1s;
} */


.left-block-social-container p{
  display: flex;
  font-family: Freehand;
  font-size: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}



.right-block-social-container{
  width: 50%;
  height: 100%;
}

.up-right-social-container{
  display: flex;
  height: 50%;
  margin-left: 50px;
}

.up-right-social-container img{
  display: flex;
  object-fit: contain;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: 0px;
}

.bottom-right-social-container{
  height: 50%;
  font-size: 30px;
  margin-left: 150px;
  margin-top: 20px;
  font-family:Freehand;
}


.playlist-container {
}




.button-buy a{
  display: flex;
  margin: auto;
}      

.limiter-container-playlist {
  width: 75%;
  /* height: 100vh; */
  margin-left: auto;
  margin-right: auto;
}

.playlist-beatstore {
  margin-top: 100px;
  width: 100%;
  background-color: #0000003a;
  border-radius: 15px;
  border: #b4b4b4 dotted 1px;
  -moz-box-shadow:0 0 10px #b4b4b4; 
  -webkit-box-shadow:0 0 10px #b4b4b4; 
  box-shadow: 0 0 60px rgb(74, 73, 73);
  position: relative;
}


.content-blocker {
  position: absolute;
  display: flex;
  top: 17%;
  width: 100%;
  height: 60%;
  background-color: rgb(26, 33, 53);
  z-index: 4444;
  margin: auto;
  border-radius: 20px;
}

.beat-info-block{
  width: 100%;
  height: 30%;
  display: flex;
  border-bottom: #AE751E solid 1px;
  background-color: #111522;
  border-radius: 20px;
}

.beat-info-block-content{
  width: 70%;
  height: 100%;
  display: flex;
  margin: auto;
}

.img-beat-info-block{
  display: flex;
  height: 100%;
}

.img-beat-info-block img{
  display: flex;
  margin: 20px;
  object-fit: contain;
  width: 120px;
  border-radius: 20px;
  border: #AE751E solid 1px;
}

.playlist-header {
  width: 100%;
  height: 80px;
  display: flex;
  border-bottom: #3e3e3e solid 1px;
}

.left-playlist-header {
  display: flex;
  width: 50%;
}

.left-playlist-header input {
  width: 50%;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  border-radius: 10px;
  color: rgb(140, 140, 140);
  font-size: 20px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.left-playlist-header img {
  object-fit: contain;
  width: 30px;
  margin-left: 10px;
}

.right-playlist-header {
  display: flex;
  width: 50%;
  text-align: right;
}

.shopping-cart {
  display: flex;
  text-align: center;
  margin-left: auto;
  vertical-align: middle;
}

.shopping-cart img {
  display: inline-block;
  object-fit: contain;
  width: 25%;
}

.shopping-cart p {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.playlist-filter {
  display: flex;
}

.playlist-filter img {
  object-fit: contain;
  width: 25%;
  margin-top: auto;
  margin-bottom: auto;
}

.playlist-account {
  display: flex;
}

.playlist-account img {
  object-fit: contain;
  width: 40%;
}

.criteria-playlist {
  width: 100%;
  height: 50px;
  display: flex;
}

.clear-block {
  width: 10%;
  display: flex;
}

.title-block {
  width: 14%;
  height: 100%;
  display: table;
}

.title-block p {
  display: table-cell;
  text-shadow: 0 0 5px #7e7e7e;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.items-playlist {
  width: 100%;
  height: 600px;
  overflow: auto;
}




.items-playlist::-webkit-scrollbar {
  width: 5px; /* ширина scrollbar */
}

.items-playlist::-webkit-scrollbar-track {
  background: rgb(0, 0, 0); /* цвет дорожки */
}

.items-playlist::-webkit-scrollbar-thumb {
  background-color: rgb(78, 78, 78); /* цвет плашки */
  border-radius: 10px; /* закругления плашки */
  border: 1px solid rgb(87, 86, 85); /* padding вокруг плашки */
}

.item-beat {
  width: 100%;
  height: 50px;
  display: flex;
  border-top: #49494936 solid 1px;
}

.number-beat {
  width: 30%;
  display: table;
}

.number-beat p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.img-beat {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-beat img {
  width: 40px;
  height: 40px;
  display: block;
  max-width: 50px;
}

.item-info {
  width: 14%;
  height: 100%;
  display: table;
}

.item-info p {
  display: table-cell;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #adadad;
}

.button-buy {
  display: flex;
  height: 100%;
}

.button-buy img {
  margin: auto;
  object-fit: contain;
  width: 30px;
  opacity: 75%;
  cursor:pointer;
}

.pre-header {
  width: 30%;
  height: 100px;
  display: flex;
}

.pre-header-text {
  font-size: 50px;
  display: flex;
  margin: auto;
}

.pre-header-text p {
  z-index: 1;
  background: linear-gradient(45deg, #8d6315 33%, #e1da8f 66%, #a79428);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pre-header-image img {
  object-fit: contain;
  width: 100px;
}

.player {
  border-top: #5a5a5aa2 solid 1px;
  background-color: #151419;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 25px;
}

.time-labels {
  display: flex;
  justify-content: space-between;
}

.time-control {
  display: flex;
  padding: 15px 0;
}

.time-control input {
  width: 100%;
}

.player-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-controls {
  display: flex;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.player-controls div {
  cursor: pointer;
}

.player-menu-controls {
  display: flex;
  gap: 10px;
  font-size: 24px;
}

.player-menu-controls div {
  cursor: pointer;
}

.player-info,
.player-menu-controls {
  z-index: 5;
}

.img-controlls{
  object-fit: contain;
  width: 40px;
}

.left{
  margin-right: 20px;
}

.right{
  margin-left: 20px;
}

.pre-logo {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.pre-logo-slogan{
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  color: #a09f9f;
}

/* -------------------------------------------- */
.licenses-container{
  margin-top: 150px;
  width: 100%;
  height: 200px;  
  background: linear-gradient(to bottom, rgba(24, 25, 68, 0)  0%, #0f0f38 20%, #0c0c2c 80%, rgba(24, 25, 68, 0) 100%);
  display: flex;
  border-top: #9e7213 solid 1px;
  border-bottom: #9e7213 solid 1px;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
}

.license-container{
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
}



/* ------------------------ */

.license-item{
  width: 65%;
  height: 600px;
  margin-left: 40px;
  border-radius: 0px;
  background-color: #1a21358a;
  border-top: #888888 solid 1px;
  border-left: #888888 solid 1px;
  border-right: #888888 solid 2px;
  border-bottom: #888888 solid 3px;
  -moz-box-shadow:0 0 10px #F9AC40; 
  -webkit-box-shadow:0 0 10px #F9AC40; 
  box-shadow: 0 0 100px #8888885d;
  border-radius: 20px;
}

.license-type{
  width: 100%;
  height: 15%;
}

.license-type p{
  margin-top: 50px;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.license-about{
  margin: auto;
  width: 80%;
  height: 39%;
}

.license-about-item{
  text-align: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  margin-top: 15px;
  color: rgb(213, 213, 213);
}

.price-license{
  width: 100%;
  height: 17%;
}

.price-license p{
  margin: auto;
  font-size: 45px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 0 0 15px #b1afaf;
}

.license-button-more{
  width: 100%;
  height: 10%;
}

.license-button-more button{
  width: 70%;
  height: 70px;
  background-color: #383838;
  border-radius: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  cursor: pointer;
  outline: 1px solid;
  outline-color: #ffffff;
  outline-offset: 0px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.license-button-more button:hover {
  color: #b38f10;
  outline-color: #b38f10;
  border: #b3901000;
  outline-offset: 15px;
  background-color: #58585800;
}

/* ------------------------ */

.button-to-licenses{
  width: 100%;
  margin-top: 150px;
  text-align: center;
}

.button-to-licenses button{
  width: 30%;
  height: 100px;
  background-color: #161616;
  border-radius: 10px;
  font-family: Freehand;
  font-size: 40px;
  cursor: pointer;
  -moz-box-shadow:0 0 10px #F9AC40; 
  -webkit-box-shadow:0 0 10px #F9AC40; 
  box-shadow: 0 0 60px #654314;
  outline: 1px solid;
  outline-color: #ffffff;
  outline-offset: 0px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.button-to-licenses button:hover {
  color: #b38f10;
  outline-color: #b38f10;
  border: #b3901000;
  outline-offset: 15px;
  background-color: #58585800;
}


.preview-questions-container{
  margin-top: 150px;
  width: 100%;
  height: 200px;  
  background: linear-gradient(to bottom, rgba(24, 25, 68, 0)  0%, #0f0f38 20%, #0c0c2c 80%, rgba(24, 25, 68, 0) 100%);
  border-top: #9e7213 solid 1px;
  border-bottom: #9e7213 solid 1px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.up-block-questions-container{
  width: 56%;
  height: 100%;
  display: flex;
  position: relative;
}

.up-block-questions-container p{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: 40px;
  font-family: Freehand;
}

.bottom-block-questions-container{
  width: 44%;
  height: 100%;
  display: flex;
}

.bottom-block-questions-container img{
  object-fit: contain;
  width: 60px;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 70px;
}

.questions-container{
  margin-top: 50px;
}

details{
  display:block;
  background: #4848488a;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  overflow:hidden;
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: center;
}

details p{
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
   display:block;
   padding: .3em 1em .3em .9em;
   border-bottom: 1px solid #030303;
   font-size:1.5em;
   cursor: pointer;
   position: relative;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
summary:before {  
  top: .4em;
  right: .3em;
  color: transparent;
  background: url("images/bottom.png") no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;  
  content: "";
  position: absolute;
  transition: transform .5s;
}
details[open] > summary:before {
  transform: scale(1,-1);
}
summary ~ * {
   padding: 0 1em 10px 1.4em;
}
details[open] summary ~ *{ 
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}
summary:focus {
  outline:0;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}


footer{
  width: 100%;
  height: 100px;
  background-color: #161616;
  display: flex;
  margin-top: 50px; 
  border-top: #93692a solid 1px;
}


footer p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  margin: auto;
  font-size: 15px;
  color: #ffffff;
}


footer span{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  margin: auto;
  font-size: 15px;
  color: #ffae00;
  margin-left: 10px;
  margin-top: 1px;
  text-shadow: 0 0 10px #ffae00;
}