{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ansiant Beatstore</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/autorization.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.event.frame.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js"></script>
    <link rel="stylesheet prefetch" href="{% static 'css/stars.css' %}" />
    <link href=”https://unpkg.com/aos@2.3.1/dist/aos.css" rel=”stylesheet”>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Freehand&family=Itim&family=Roboto:wght@500&display=swap');
    </style>
  </head>
  <body>

    <header>
        <div class="limit-header">
            <div class="left-header">
                <div class="header-logo" onclick="window.location='{% url 'index' %}'">
                    <div class="header-logo-img">
                        <img src="{% static '/images/logo.png' %}" alt="">
                    </div>
                    <div class="header-logo-container-text">
                        <div class="header-logo-text">
                            <p>ansiant</p>
                            <p>beats</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-header">
                <div class="right-header-container">
                    <div class="menu-item">
                        <p class="scale" onclick="window.location='{% url 'beats_page' %}'">
                            BEATS
                        </p>
                    </div>
                    <div class="menu-item">
                        <p class="scale">
                            licenses
                        </p>
                    </div>
                    <div class="menu-item">
                        <p class="scale">
                            socials
                        </p>
                    </div>

                    <div class="between-container">

                    </div>

                    <div class="login-container">
                        <p class="scale" onclick="window.location.href='{% url 'reg' %}'">Registration</p>
                    </div>
                </div>
            </div>

            <div class="mobile-right-header">
                <img src="{% static '/images/menu.png' %}" alt="" onclick="viewMenu()">
            </div>
        </div>
    </header>

    <div class="container">
        <div class="limit-container-log" id="limit-container-log" style="height: 40%;">
            <div class="login-title">
                <p id="login-title">LOGIN</p>
            </div>

            <div class="inputs-container">
                <div class="input">
                    <input type="text" id="login_email" placeholder="Email" >
                </div>
                <div class="input">
                    <input type="password" id="login_password" placeholder="Password">
                </div>
            </div>
            <div class="button-container">
                <button class="login-btn" id="login-btn">Login</button>
            </div>

            <script>
                $('body').on('click', '#login-btn', function(event) {
                    event.preventDefault();
                    $.ajax({
                        url: '{% url 'auth' %}',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'email': document.getElementById('login_email').value,
                            'password': document.getElementById('login_password').value
                        },
                        success: function (response){
                            if (response.success) {
                                Swal.fire({
                                    title: 'Good job!',
                                    icon: 'success',
                                    text: response.message,
                                    didClose: function() {
                                        window.location = "{% url 'index' %}";
                                    }
                                })
                            }else{
                                Swal.fire({
                                  icon: 'error',
                                  title: 'Oops...',
                                  text: response.message,
                                })
                            }
                        }
                    })
                })
            </script>
            
            <div id="google-container" style="text-align: center">
                <img src="{% static 'images/google.png' %}" width="50" height="50" style="cursor:pointer;" onclick="window.location.href='{% url 'google_auth' %}'">
            </div>

            <div class="desc-container" id="desc-container">
                <p onclick="window.location='{% url 'reg' %}'" style="margin: auto;">Create an account</p>
                <p id="btn-reset" style="color: rgb(153, 153, 153); font-size: 15px; margin: auto;">Reset password</p>
            </div>
        </div>
    </div>

    <script>
        let email

        $('body').on('click', '#btn-reset', function (event){
            event.preventDefault()
            document.getElementById('login-title').innerText = 'Reset password'
            document.getElementById('login_password').placeholder = 'New password'
            document.getElementById('login_password').value = ''
            document.getElementById('login-btn').innerText = 'Submit'
            document.getElementById('login-btn').id = 'btn-confirm'
            document.getElementById('google-container').style.display = 'None'
            document.getElementById('desc-container').style.display = 'None'
            document.getElementById('limit-container-log').style.height = '25%'
        })

        $('body').on('click', '#btn-confirm', function (event){
            event.preventDefault()

            email = document.getElementById('login_email').value;
            let new_password = document.getElementById('login_password').value;

            $.ajax({
                url: {% url 'resetPassword' %},
                type: 'POST',
                dataType: 'json',
                data: {
                    'email': email,
                    'old_pass': new_password
                },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Good job!',
                            icon: 'success',
                            text: response.message,
                            didClose: function () {
                                document.getElementById('login_email').value= ''
                                document.getElementById('login_email').placeholder = 'code'
                                document.getElementById('login_email').id = 'confirm-code';
                                document.getElementById('btn-confirm').id = 'code-btn-confirm'
                                document.getElementById('login_password').style.display = 'None';
                                document.getElementById('limit-container-log').style.height = '15%'
                            }
                        })
                    }
                    else{
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: response.message,
                        })
                    }
                }
            })
        })

        $('body').on('click', '#code-btn-confirm', function (event){
            event.preventDefault()

            let code = document.getElementById('confirm-code').value
            $.ajax({
               url: {% url 'confirmEmail' %},
               type: 'POST',
               dataType: 'json',
               data: {
                   'email': email,
                   'code': code,
                   'password': document.getElementById('login_password').value
               },
                success: function (response){
                   if(response.success) {
                       Swal.fire({
                           title: 'Good job!',
                           icon: 'success',
                           text: response.message,
                           didClose: function () {
                               {#document.getElementById('login-title').innerText = 'Login'#}
                               {#document.getElementById('login_password').placeholder = 'password'#}
                               {#document.getElementById('login-btn').innerText = 'Login'#}
                               {#document.getElementById('btn-confirm').id = 'login-btn'#}
                               {#document.getElementById('google-container').style.display = ''#}
                               {#document.getElementById('desc-container').style.display = ''#}
                               {#document.getElementById('limit-container-log').style.height = '40%'#}

                               window.location.reload();
                           }
                       })
                   }
                   else{
                       Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: response.message,
                        })
                   }
                }
            })
        })
    </script>

    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  </body>
</html>