{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ansiant Beatstore</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/autorization.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.event.frame.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js"></script>
    <link rel="stylesheet prefetch" href="{% static 'css/stars.css' %}" />
    <link href=”https://unpkg.com/aos@2.3.1/dist/aos.css" rel=”stylesheet”>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Freehand&family=Itim&family=Roboto:wght@500&display=swap');
    </style>
  </head>
  <body>

    <header>
        <div class="limit-header">
            <div class="left-header">
                <div class="header-logo" onclick="window.location='{% url 'index' %}">
                    <div class="header-logo-img">
                        <img src="{% static '/images/logo.png' %}" alt="">
                    </div>
                    <div class="header-logo-container-text">
                        <div class="header-logo-text">
                            <p>ansiant</p>
                            <p>beats</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-header">
                <div class="right-header-container">
                    <div class="menu-item">
                        <p class="scale" onclick="window.location='{% url 'beats_page' %}'">
                            BEATS
                        </p>
                    </div>
                    <div class="menu-item">
                        <p class="scale">
                            contact us
                        </p>
                    </div>
                    <div class="menu-item">
                        <p class="scale">
                            licenses
                        </p>
                    </div>
                    <div class="menu-item">
                        <p class="scale" onclick="window.location='{% url 'policy' %}'">
                            Policy
                        </p>
                    </div>
                    <div class="menu-item">
                        <p class="scale">
                            socials
                        </p>
                    </div>

                    <div class="between-container">

                    </div>

                    <div class="login-container">
                        <p class="scale" onclick="window.location.href='{% url 'login' %}'">login</p>
                    </div>
{#                    <div class="right-header-cart">#}
{#                        <div class="header-cart-img">#}
{#                            <img src="/images/purchase2.png" alt="">#}
{#                        </div>#}
{#                        <div class="right-header-cart-text">#}
{#                            <p>$60</p>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>

            <div class="mobile-right-header">
                <img src="{% static '/images/menu.png' %}" alt="" onclick="viewMenu()">
            </div>
        </div>
    </header>

    <div class="container">
        <div class="limit-container-log" id="limit-container-log" style="height: 50%;">
            <div class="login-title">
                <p>Registration</p>
            </div>

            <div class="inputs-container">
                <div class="input">
                    <input type="text" id="user_username" placeholder="Username" >
                </div>
                <div class="input">
                    <input type="text" id="user_email" placeholder="Email" >
                </div>
                <div class="input">
                    <input type="password" id="user_password" placeholder="Password">
                </div>
                <div class="input">
                    <input type="password" id="user_password_confirm"  placeholder="Return password">
                </div>
            </div>

            <div class="button-container">
                <button id="reg-btn">Registration</button>
            </div>

            <script>
                $('body').on('click', '#reg-btn', function(event) {
                    event.preventDefault();

                    const fields = ['user_username', 'user_email', 'user_password', 'user_password_confirm'];
                    let missingFields = [];

                    fields.forEach(function(field) {
                        let value = document.getElementById(field).value;
                        if (!value) {
                            missingFields.push(field);
                        }
                    });

                    if (missingFields.length > 0) {
                        let fieldsText = missingFields.join(', ');
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: "Please fill in the following fields: " + fieldsText,
                        });
                        return;
                    }

                    let username = document.getElementById('user_username').value
                    let email = document.getElementById('user_email').value
                    let password = document.getElementById('user_password').value
                    let confirm_pass = document.getElementById('user_password_confirm').value

                    if(password.length >= 7){
                        if(confirm_pass === password){
                            window.email = email;

                            $.ajax({
                                url: {% url 'code' %},
                                type: 'POST',
                                dataType: 'json',
                                data: {
                                    'email': email
                                },
                                success: function (response){
                                    if (response.success) {
                                        Swal.fire({
                                            title: 'Good job!',
                                            icon: 'success',
                                            text: response.message,
                                            didClose: function() {

                                                document.getElementById('user_password_confirm').value = '';
                                                document.getElementById('user_password_confirm').placeholder = 'Code';
                                                document.getElementById('user_password_confirm').type = 'text'
                                                document.getElementById('user_password_confirm').id = 'code_confirm';

                                                document.getElementById('user_username').style.display = 'none';
                                                document.getElementById('user_email').style.display = 'none';
                                                document.getElementById('user_password').style.display = 'none';

                                                document.getElementById('reg-btn').innerHTML = 'Confirm';
                                                document.getElementById('reg-btn').id = 'confirm-btn';

                                                document.getElementById('desc-container').style.display = 'none';
                                                document.getElementById('limit-container-log').style.height = '15%'
                                            }
                                        })
                                    }else{
                                        Swal.fire({
                                          icon: 'error',
                                          title: 'Oops...',
                                          text: response.message,
                                        })
                                    }
                                },
                                error: function (response){
                                    Swal.fire({
                                      icon: 'error',
                                      title: 'Oops...',
                                      text: response.message,
                                    })
                                }
                            })
                        }else{
                            Swal.fire({
                              icon: 'error',
                              title: 'Oops...',
                              text: "Passwords don't match!",
                            })
                        }
                    }else {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: "The password length must not be less than 7 characters!",
                        })
                    }
                })

                $('body').on('click', '#confirm-btn', function(event) {
                    event.preventDefault();
                    let email = window.email;
                    let code = document.getElementById('code_confirm').value

                    $.ajax({
                        url: {% url 'registration' %},
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'email': email,
                            'code': code,
                            'username': document.getElementById('user_username').value,
                            'password': document.getElementById('user_password').value
                        },
                        success: function(response){
                            if(response.success){
                                Swal.fire({
                                    title: 'Good job!',
                                    icon: 'success',
                                    text: response.message,
                                    didClose: function () {
                                        window.location = '{% url 'index' %}'
                                    }
                                })
                            }else{
                                Swal.fire({
                                  icon: 'error',
                                  title: 'Oops...',
                                  text: response.message,
                                })
                            }
                        }
                    })
                })
            </script>

            <div class="desc-container" id="desc-container">
                <p onclick="window.location='{% url 'login' %}'">Log in</p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  </body>
</html>