{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ansiant Beatstore</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/shopping-cart.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/parallax.js' %}"></script>
    <script src="{% static 'js/jquery.event.frame.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js"></script>
    <link rel="stylesheet prefetch" href="{% static 'css/stars.css' %}" />
    <link href=”https://unpkg.com/aos@2.3.1/dist/aos.css" rel=”stylesheet”>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Freehand&family=Itim&family=Roboto:wght@500&display=swap');
    </style>
    <script src="https://www.paypal.com/sdk/js?client-id=AQnQM_dTOjW3V9V7FIfqLqY93mkSR_KizOFkeEMwNInLXYocOxwOQ8qAO7961BL0p6uHM8tQllgvjgIM&currency=USD"></script>
  </head>
  <body>
    <div class="page">
      <div class="background-image-container">
        <img src="{% static 'images/bezfona-background.png' %}" alt="" class="background-image">
      </div>
      <div class="container">
        <div class="menu-container">
          <div class="limiter-menu-container">
            <div class="top-account-container">
                <div class="account-avatar-block">
                    <img src="{% static 'images/purchase.png' %}" alt="">
                </div>
              <div class="account-name-block">
                <p>SHOPPING CART</p>
              </div>
            </div>
            <div class="items-menu-container">
              <div class="items-menu">
                <div class="item-menu order">
                  <div class="item-icon-block">
                    <img src="{% static 'images/order.png' %}" alt="">
                  </div>
                  <div class="item-text-block">
                    <p> ORDERING</p>
                  </div>
                </div>
                <div class="item-menu payment">
                    <div class="item-icon-block">
                      <img src="{% static 'images/pay.png' %}" alt="">
                    </div>
                    <div class="item-text-block">
                      <p> PAYMENT</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="button-to-playlist-container" onclick="window.location='{% url 'index' %}'">
              <div class="to-playlist-icon-block">
                <img src="{% static 'images/back2.png' %}" alt="">
              </div>
              <div class="to-playlist-text-block">
                <p>TO BEATSTORE</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-container">
            <div class="content-limiter-container">
                  <div class="top-title-block">
                    <div class="product-title-block">
                      <p>Product</p>
                    </div>
                    <div class="amount-title-block">
                      <p>Amount</p>
                    </div>
                    <div class="license-title-block">
                      <p>
                        License
                      </p>
                    </div>
                  </div>
                  <div class="cart-products-container">
                      {% for cart in cart %}
                          <div class="product-item">
                              <div class="number-product-block">
                                <p>{{ forloop.counter }}</p>
                              </div>
                              <div class="product-img">
                                <img src="{{ cart.cover }}" alt="">
                              </div>
                              <div class="product-title">
                                <p><span>{{ cart.title }} &ensp;|&ensp;</span> {{ cart.type }} | {{ cart.tonal }} | {{ cart.bpm }}bpm</p>
                              </div>
                              <div class="amount-product">
                                <p>{{ cart.price|floatformat }}$</p>
                              </div>
                              <div class="license-product">
                                <select name="" id="cusSelectbox">
                                  <option value=basic>BASIC(MP3)</option>
                                  <option value=premium>PREMIUM(MP3, WAV AND TRACK STEMS)</option>
                                  <option value=track>TRACKOUT(MP3, WAV AND TRACK STEMS)</option>
                                  <option value=unlim>UNLIMITED(MP3, WAV AND TRACK STEMS)</option>
                                  <option value=exclusive>EXCLISIVE(Make an offer..)</option>
                                </select>
                                  <img src="{% static 'images/privacy.png' %}" alt="">
                              </div>
                              <button class="remove-item-btn" data-item-id="{{ cart.id }}">Удалить</button>
                          </div>
                          <script>
                          $('body').on('click', '.remove-item-btn', function(event) {
                              event.preventDefault();
                              let itemId = $(this).attr('data-item-id');
                              $.ajax({
                                url: '/delete_item/' + itemId,
                                type: 'POST',
                                dataType: 'json',
                                data: {
                                    'item_id': itemId
                                },
                                success: function(response) {
                                    if (response.success) {
                                        $.get('/get_cart', function(data) {
                                            let products = JSON.parse(data);
                                            let html = ''
                                            let amount = 0
                                            for (let i = 0; i < products.length; i++) {
                                                html +=  '<div class="product-item">'
                                                html += '<div class="number-product-block"> <p>' + (i+1) +'</p></div>'
                                                html += '<div class="product-img"><img src="' + products[i].cover + '" alt=""></div>';
                                                html += '<div class="product-title"> <p><span>' + products[i].title +'&ensp;|&ensp;</span> ' + products[i].type + ' | ' + products[i].tonal + ' | ' + products[i].bpm + ' bpm</p> </div>'
                                                html += '<div class="amount-product"> <p>' + products[i].price + '$</p> </div>'
                                                html += '<div class="license-product"><select name="" id="cusSelectbox"><option value=basic>BASIC(MP3)</option><option value=premium>PREMIUM(MP3, WAV AND TRACK STEMS)</option><option value=track>TRACKOUT(MP3, WAV AND TRACK STEMS)</option><option value=unlim>UNLIMITED(MP3, WAV AND TRACK STEMS)</option><option value=exclusive>EXCLISIVE(Make an offer..)</option></select><img src="{% static 'images/privacy.png' %}" alt=""></div>'
                                                html += '<button class="remove-item-btn" data-item-id="' + products[i].id + '">Удалить</button></div>'
                                                amount += Number(products[i].price)
                                            }

                                            $('.cart-products-container').html(html);
                                            html = '<div class="amount-content"><div class="title-amount"><p>Gross</p><p>Discount</p><p>Total</p></div><div class="cost-amount"><p>' + amount + '$</p><p>-0$</p><p>' + amount + '$</p></div></div>'
                                            $('.amount-info-container').html(html)
                                        });
                                    }
                                }
                            })});
                          </script>
                      {% endfor %}
                  </div>
            </div>
            <div class="right-total-container">
              <div class="coupon-container">
                <div class="content-coupon-container">
                  <p>Coupon code</p>
                    <label>
                        <input name="coupon-input-element"/>
                    </label>
                    <button>Apply</button>
                </div>
              </div>
              <div class="amount-info-container">
                  <div class="amount-content">
                    <div class="title-amount">
                      <p>Gross</p>
                      <p>Discount</p>
                      <p>Total</p>
                    </div>
                    <div class="cost-amount">
                      <p>{{ amount|floatformat }}$</p>
                      <p>-0$</p>
                      <p>{{ amount|floatformat }}$</p>
                    </div>
                  </div>
              </div>
              <div class="reviewed-container">
                <input type="checkbox" class="custom-checkbox" name="scales" checked>
                <label for="scales">I reviewed and agree to the Track(s) License Agreements</label>
              </div>
              <div class="payment-container">
{#                <button> #}
{#                  <img src="{% static 'images/pay.png' %}" alt="">#}
{#                  <p>Pay via paypal or credit card</p>#}
{#                </button>#}
                    <script>
                        paypal.Buttons({
                            createOrder: function(data, actions) {
                                console.log(data)
                                console.log(actions)

                            return actions.order.create({
                                purchase_units: [{
                                amount: {
                                    value: '0.01'
                                }
                                }]
                            });
                            },
                            onApprove: function(data, actions) {
                                return actions.order.capture().then(function(details) {
                                    alert(details.status);
                                    console.log(details);
                                    if (details.status === 'COMPLETED') {
                                        $.ajax({
                                            url: '/create_order/',
                                            type: 'POST',
                                            dataType: 'json',
                                            data:{
                                                'transaction_id': details.id
                                            },
                                            success: function() {
                                                alert("Order created!")
                                            }
                                        });
                                    }
                                });
                            },
                            onError: function(err) {
                                console.log(err);
                                alert('Error!!!');
                            },
                            onCancel(){
                              alert('Transaction canceled.');
                            }
                            }).render('#paypal-button-container');
                    </script>
                    <div id="paypal-button-container"></div>
              </div>
              <div class="policy-container">
                <p>Read <span>refund policy</span></p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'js/shopping-cart.js' %}"></script>
  </body>
</html>